@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@keyframes slidein-left {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes slideout-left {
  0% {
    opacity: 100;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(150%);
  }
}
@keyframes slidein-right {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes slideout-right {
  0% {
    opacity: 100;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-150%);
  }
}
header {
  position: sticky;
  top: 0px;
  z-index: 100;
  height: 75px;
  background: #252524;
  color: white;
  text-align: center;
  margin-bottom: -50px;
}
header ul {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotateX(90deg);
  min-width: 1000px;
  text-align: center;
  transition: 0.25s;
}
header ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
}
header ul li a {
  transition: 0.25s;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}
header ul li a:hover {
  background: #181817;
}
header h1 {
  padding: 10px;
  display: block;
  transition: 0.25s;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header h1 #art {
  color: #bee826;
}
header h1 #style {
  color: #10d2f6;
}
header:hover {
  text-align: left;
}
header:hover h1 {
  transform: translate(-50%, -60%) rotateX(90deg);
}
header:hover ul {
  transition: 0.5s;
  transform: translate(-50%, -50%) rotateX(0);
}

html {
  font-family: "Ubuntu", serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#intro {
  background: #323230;
  position: relative;
  color: white;
}
#intro div {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#intro div img {
  animation: 1s ease-out 0s 1 slidein-right;
  width: 80vw;
  height: auto;
}
@media screen and (orientation: landscape) {
  #intro div img {
    width: auto;
    height: 60vh;
  }
}
#intro div p {
  animation: 1.15s ease-out 0s 1 slidein-right;
  font-size: 25pt;
}
@media screen and (max-width: 480px) {
  #intro div p {
    font-size: 15pt;
  }
}

#portfolio {
  display: grid;
  background: #14b755;
  border-bottom: 20px solid #0c7235;
  border-top: 20px solid #23f477;
  padding: 25px 0;
  grid-template-areas: "title img-1 img-4 img-7" "text  img-2 img-5 img-8" "link  img-3 img-6 img-9";
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  color: white;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  #portfolio {
    grid-template-areas: "title" "text " "img-1" "img-2" "img-3" "img-4" "img-5" "img-6" "img-7" "img-8" "img-9" "link";
    grid-template-columns: 1fr;
  }
}
#portfolio * {
  justify-self: center;
  align-self: center;
}
#portfolio h1 {
  grid-area: title;
  font-size: 35pt;
}
#portfolio p {
  grid-area: text;
  font-size: 20pt;
}
#portfolio a {
  grid-area: link;
  display: inline-block;
  background: #0f8940;
  color: white;
  transition: 0.25s;
  font-size: 20pt;
  text-align: center;
  text-decoration: none;
  padding: 15px 15px;
  margin-bottom: 10px;
  border-radius: 20px;
}
#portfolio a:hover {
  background: #0a5b2a;
}
#portfolio img {
  justify-self: center;
  width: calc(50vw / 3);
  height: calc((50vw / 3) * ( 9 / 16 ));
}
@media screen and (max-width: 1024px) {
  #portfolio img {
    width: 75vw;
    height: calc(75vw * ( 9 / 16 ));
  }
}
#portfolio #pf-img-1 {
  grid-area: img-1;
}
#portfolio #pf-img-2 {
  grid-area: img-2;
}
#portfolio #pf-img-3 {
  grid-area: img-3;
}
#portfolio #pf-img-4 {
  grid-area: img-4;
}
#portfolio #pf-img-5 {
  grid-area: img-5;
}
#portfolio #pf-img-6 {
  grid-area: img-6;
}
#portfolio #pf-img-7 {
  grid-area: img-7;
}
#portfolio #pf-img-8 {
  grid-area: img-8;
}
#portfolio #pf-img-9 {
  grid-area: img-9;
}

#why-choose-us {
  display: grid;
  background: #0798b3;
  padding-bottom: 50px;
  color: white;
  grid-template-areas: "title title title" "reason-1 reason-2 reason-3" "reason-4 reason-5 reason-6";
  text-align: center;
  grid-row-gap: 10px;
}
@media screen and (max-width: 1024px) {
  #why-choose-us {
    grid-template-areas: "title" "reason-1";
  }
}
#why-choose-us > h1 {
  grid-area: title;
  justify-self: center;
  align-self: center;
  font-size: 35pt;
}
#why-choose-us div {
  text-align: initial;
  display: grid;
  grid-template-areas: "icon title" "icon text";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
}
@media screen and (max-width: 1024px) {
  #why-choose-us div {
    grid-template-rows: 1fr 1fr;
  }
}
#why-choose-us div * {
  padding: 0 20px;
}
#why-choose-us div img {
  width: 100%;
  height: auto;
  grid-area: icon;
  justify-self: center;
  align-self: center;
}
#why-choose-us div h1 {
  grid-area: title;
  justify-self: start;
  align-self: end;
}
#why-choose-us div p {
  grid-area: text;
  align-self: start;
}

footer {
  width: 100vw;
  height: 200px;
  background: #323230;
}
footer h1 {
  margin: 0;
}

.section {
  width: 100vw;
}
.section-25vh {
  min-height: 25vh;
}
.section-50vh {
  min-height: 50vh;
}
.section-75vh {
  min-height: 75vh;
}
.section-100vh {
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
