@import url("https://use.fontawesome.com/releases/v5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Marck+Script|Ubuntu&display=swap");
@keyframes slidein-left {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes slideout-left {
  0% {
    opacity: 100;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(150%);
  }
}
@keyframes slidein-right {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes slideout-right {
  0% {
    opacity: 100;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-150%);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/*
@font-face {
	font-family: "art-style-logo-font";
	src: url("./Font/PFDinTextCompPro-Regular.ttf");
}
*/
header {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  position: sticky;
  top: 0px;
  z-index: 100;
  height: 75px;
  background: #252524;
  color: white;
  text-align: center;
  margin-bottom: -50px;
}
header ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotateX(90deg);
  min-width: 760px;
  text-align: center;
  transition: 0.25s;
}
header ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 5px;
}
header ul li a {
  transition: 0.25s;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}
header ul li a:hover {
  background: #181817;
}
header i {
  color: #73736e;
}
header h1 {
  padding: 10px;
  display: block;
  transition: 0.25s;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 135px;
}
header h1 #art {
  color: #bee826;
}
header h1 #style {
  color: #10d2f6;
}
header:hover {
  text-align: left;
}
header:hover h1 {
  transform: translate(-50%, -60%) rotateX(90deg);
}
header:hover ul {
  transition: 0.5s;
  transform: translate(-50%, -50%) rotateX(0);
}

html {
  font-family: "Ubuntu", serif;
}

:root {
  --big-font-size: 35pt;
  --sub-font-size: 22pt;
}
@media screen and (max-width: 800px) {
  :root {
    --big-font-size: 27pt;
    --sub-font-size: 20pt;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --big-font-size: 25pt;
    --sub-font-size: 16pt;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --big-font-size: 18pt;
    --sub-font-size: 15pt;
  }
}
@media screen and (max-width: 375px) {
  :root {
    --big-font-size: 16pt;
    --sub-font-size: 10pt;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

#intro {
  background: #323230;
  position: relative;
  color: white;
}
#intro div {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#intro div img {
  animation: 1s ease-out 0s 1 slidein-right;
  width: 80vw;
  height: auto;
}
@media screen and (orientation: landscape) {
  #intro div img {
    width: auto;
    height: 60vh;
  }
}
#intro div p {
  animation: 1.15s ease-out 0s 1 slidein-right;
  font-size: var(--sub-font-size);
}

#portfolio {
  display: grid;
  background: #14b755;
  border-bottom: 20px solid #0c7235;
  border-top: 20px solid #23f477;
  padding: 25px 0;
  grid-template-areas: "title img-1 img-4 img-7" "text  img-2 img-5 img-8" "link  img-3 img-6 img-9";
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  color: white;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  #portfolio {
    grid-template-areas: "title" "text " "img-1" "img-2" "img-3" "img-4" "img-5" "img-6" "img-7" "img-8" "img-9" "link";
    grid-template-columns: 1fr;
  }
}
#portfolio * {
  justify-self: center;
  align-self: center;
  max-width: 80vw;
}
#portfolio h1 {
  grid-area: title;
  margin-bottom: 0;
  font-size: var(--big-font-size);
}
#portfolio p {
  grid-area: text;
  font-size: var(--sub-font-size);
}
#portfolio a {
  grid-area: link;
  background: #0f8940;
  color: white;
  transition: 0.25s;
  font-size: var(--sub-font-size);
  text-align: center;
  text-decoration: none;
  padding: 15px 15px;
  margin-bottom: 10px;
  border-radius: 20px;
}
#portfolio a:hover {
  background: #0a5b2a;
}
#portfolio a i {
  border-radius: 100%;
  background: #0c7235;
  padding: 5px;
}
#portfolio img {
  justify-self: center;
  width: calc(50vw / 3);
  height: calc((50vw / 3) * ( 9 / 16 ));
}
@media screen and (max-width: 1024px) {
  #portfolio img {
    width: 75vw;
    height: calc(75vw * ( 9 / 16 ));
  }
}
#portfolio #pf-img-1 {
  grid-area: img-1;
}
#portfolio #pf-img-2 {
  grid-area: img-2;
}
#portfolio #pf-img-3 {
  grid-area: img-3;
}
#portfolio #pf-img-4 {
  grid-area: img-4;
}
#portfolio #pf-img-5 {
  grid-area: img-5;
}
#portfolio #pf-img-6 {
  grid-area: img-6;
}
#portfolio #pf-img-7 {
  grid-area: img-7;
}
#portfolio #pf-img-8 {
  grid-area: img-8;
}
#portfolio #pf-img-9 {
  grid-area: img-9;
}

#why-choose-us {
  display: grid;
  background: #0798b3;
  padding-bottom: 50px;
  color: white;
  grid-template-areas: "title title title" "reason-1 reason-2 reason-3" "reason-4 reason-5 reason-6";
  text-align: center;
  grid-row-gap: 10px;
}
@media screen and (max-width: 1024px) {
  #why-choose-us {
    grid-template-areas: "title" "reason-1";
  }
}
#why-choose-us > h1 {
  grid-area: title;
  justify-self: center;
  align-self: center;
  font-size: var(--big-font-size);
}
#why-choose-us div {
  text-align: initial;
  display: grid;
  justify-content: center;
  grid-template-areas: "icon title" "icon text";
  padding: 10px;
  background-color: #06839a;
}
#why-choose-us div * {
  padding: 0 20px;
}
#why-choose-us div img {
  width: 100%;
  height: auto;
  grid-area: icon;
  justify-self: center;
  align-self: center;
}
#why-choose-us div h1 {
  grid-area: title;
  justify-self: start;
  align-self: end;
  margin-bottom: 0;
}
#why-choose-us div p {
  grid-area: text;
  align-self: start;
}
#why-choose-us div:nth-child(even) {
  background-color: #09c2e4;
  color: #211;
}
@media screen and (max-width: 1024px) {
  #why-choose-us div {
    padding: 30px 0;
    grid-template-columns: 75vw;
    grid-template-rows: auto;
    grid-template-areas: "icon" "title" "text";
    text-align: center;
  }
  #why-choose-us div img {
    width: 40vw;
    height: auto;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  #why-choose-us div img {
    width: auto;
    height: 40vh;
  }
}
@media screen and (max-width: 1024px) {
  #why-choose-us div h1 {
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center;
  }
}

.collapsable.section {
  text-align: center;
  font-size: var(--big-font-size);
  background-color: #2b2b2a;
  color: white;
}
@media screen and (max-width: 800px) {
  .collapsable.section {
    font-size: calc(var(--big-font-size) - 6pt);
  }
}
.collapsable.section i {
  color: #73736e;
}
.collapsable.section:nth-child(1) p {
  margin-top: 75px;
}
.collapsable.section .section {
  background-color: #2b2b2a;
  transition: 0.25s;
}
.collapsable.section .section:hover {
  cursor: pointer;
  background-color: #595955;
}
.collapsable.section .section p {
  margin: 0;
}

div.under-header {
  height: 50px;
}

footer {
  font-family: monospace;
  display: grid;
  padding: 30px 0;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 100vw;
  background: #323230;
  color: white;
  text-align: center;
}
footer * {
  justify-self: center;
  align-self: center;
}
footer h1 {
  margin: 0;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer li {
  text-align: left;
  margin: 10px 0;
}
footer a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
@media screen and (max-width: 800px) {
  footer {
    grid-template-columns: 75vw;
    margin: 0 auto;
    grid-template-rows: 190px 190px 70px;
  }
  footer ul {
    padding-left: 15px;
  }
}

@keyframes dissapear-left {
  from {
    width: initial;
  }
  to {
    width: 0;
  }
}
.menu {
  min-height: 75vh;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
  background: #181817;
  position: relative;
}
.menu .button {
  display: grid;
  width: 25vw;
  margin: 20px;
  justify-self: center;
  align-self: center;
  background: #ce1629;
  border: 10px groove #ce1629;
  border-bottom: 10px ridge #ce1629;
  border-right: 10px ridge #ce1629;
  transition: 0.25s;
}
@media screen and (max-width: 1024px) {
  .menu .button {
    width: 35vw;
  }
}
@media screen and (max-width: 480px) {
  .menu .button {
    width: 90vw;
  }
}
.menu .button:hover {
  cursor: pointer;
  background: #e92e42;
}
.menu .button p {
  font-family: "Marck Script", cursive;
  font-size: 20pt;
}

.portfolio-page {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 100vw;
}
.portfolio-page .return-button {
  cursor: pointer;
  padding: 30px 0;
  margin: 10px 0;
  font-size: var(--big-font-size);
  transition: 0.25s;
}
.portfolio-page .return-button i {
  padding: 10px;
  border-radius: 100%;
  transition: 0.25s;
}
.portfolio-page h1 {
  font-size: var(--big-font-size);
}
.portfolio-page .gallery-3cols {
  display: grid;
  justify-content: center;
}
.portfolio-page .gallery-3cols * {
  align-self: center;
  justify-self: center;
}
.portfolio-page#sveteshti-reklami {
  background: #16ce60;
}
.portfolio-page#sveteshti-reklami .return-button {
  background: #14b755;
}
.portfolio-page#sveteshti-reklami .return-button i {
  background: #11a04b;
}
.portfolio-page#sveteshti-reklami .return-button:hover {
  background: #11a04b;
}
.portfolio-page#sveteshti-reklami .return-button:hover i {
  background: #0f8940;
}
.portfolio-page#sveteshti-reklami .gallery-3cols {
  grid-template-areas: "img1 img2 img3" "img4 img5 img3";
}
@media screen and (max-width: 1024px) {
  .portfolio-page#sveteshti-reklami .gallery-3cols {
    grid-template-areas: "img1 img3" "img2 img3" "img4 img5";
  }
}
@media screen and (max-width: 480px) {
  .portfolio-page#sveteshti-reklami .gallery-3cols {
    grid-template-areas: "img1" "img2" "img3" "img4" "img5";
  }
}
.portfolio-page#nesveteshti-reklami {
  background: #10d2f6;
}
.portfolio-page#nesveteshti-reklami .return-button {
  background: #09c2e4;
}
.portfolio-page#nesveteshti-reklami .return-button i {
  background: #08adcb;
}
.portfolio-page#nesveteshti-reklami .return-button:hover {
  background: #08adcb;
}
.portfolio-page#nesveteshti-reklami .return-button:hover i {
  background: #0798b3;
}
.portfolio-page#interiorni-resheniq {
  background: #ce6016;
}
.portfolio-page#interiorni-resheniq .return-button {
  background: #b75514;
}
.portfolio-page#interiorni-resheniq .return-button i {
  background: #a04b11;
}
.portfolio-page#interiorni-resheniq .return-button:hover {
  background: #a04b11;
}
.portfolio-page#interiorni-resheniq .return-button:hover i {
  background: #89400f;
}
.portfolio-page#reklamni-konstr {
  background: #ce1629;
}
.portfolio-page#reklamni-konstr .return-button {
  background: #b71424;
}
.portfolio-page#reklamni-konstr .return-button i {
  background: #a01120;
}
.portfolio-page#reklamni-konstr .return-button:hover {
  background: #a01120;
}
.portfolio-page#reklamni-konstr .return-button:hover i {
  background: #890f1b;
}
.portfolio-page#brandirane-avto {
  background: #6016ce;
}
.portfolio-page#brandirane-avto .return-button {
  background: #5514b7;
}
.portfolio-page#brandirane-avto .return-button i {
  background: #4b11a0;
}
.portfolio-page#brandirane-avto .return-button:hover {
  background: #4b11a0;
}
.portfolio-page#brandirane-avto .return-button:hover i {
  background: #400f89;
}
.portfolio-page#suvenirna-reklama {
  background: #1685ce;
}
.portfolio-page#suvenirna-reklama .return-button {
  background: #1476b7;
}
.portfolio-page#suvenirna-reklama .return-button i {
  background: #1167a0;
}
.portfolio-page#suvenirna-reklama .return-button:hover {
  background: #1167a0;
}
.portfolio-page#suvenirna-reklama .return-button:hover i {
  background: #0f5889;
}

.gallery-3cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
.gallery-3cols img {
  max-width: 30vw;
}
@media screen and (max-width: 1024px) {
  .gallery-3cols {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-3cols img {
    max-width: 45vw;
  }
}
@media screen and (max-width: 480px) {
  .gallery-3cols {
    grid-template-columns: 1fr;
  }
  .gallery-3cols img {
    max-width: 80vw;
  }
}

.hidden {
  display: none !important;
}

@keyframes anim {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 20px;
  }
}
@keyframes anim-2 {
  from {
    margin-right: 0px;
  }
  to {
    margin-right: 20px;
  }
}
.page-title {
  font-family: "Marck Script", cursive;
  font-size: var(--sub-font-size);
  color: white;
  text-align: center;
  padding: 20px 0;
  display: flex;
  align-items: center;
  text-align: center;
}
.page-title h1 {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  white-space: nowrap;
  margin: 0;
}
.page-title:before, .page-title:after {
  content: "";
  flex: 1;
  border-bottom: 10px solid #000;
  margin: 0 20px;
}
.page-title:before {
  animation: 1s ease anim;
}
.page-title:after {
  animation: 1s ease anim-2;
}

@keyframes slidein-left-2 {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slidein-right-2 {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.alt-img-text div {
  display: grid;
  grid-template-areas: "img title" "img text";
  justify-content: center;
  align-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 30px;
}
@media screen and (max-width: 480px) {
  .alt-img-text div {
    grid-template-areas: "img" "title" "text" !important;
  }
  .alt-img-text div * {
    justify-self: center !important;
    text-align: center;
  }
  .alt-img-text div img {
    max-width: 80vw !important;
  }
}
.alt-img-text div:nth-child(even) {
  grid-template-areas: "title img" "text  img";
}
.alt-img-text div:nth-child(even) * {
  animation: slidein-right-2 1s;
}
.alt-img-text div * {
  animation: slidein-left-2 1s;
}
.alt-img-text div img {
  grid-area: img;
  justify-self: center;
  align-self: center;
  max-width: 45vw;
  height: auto;
}
.alt-img-text div h1, .alt-img-text div p {
  justify-self: start;
}
.alt-img-text div h1 {
  grid-area: title;
  align-self: end;
  font-size: var(--big-font-size);
  margin-bottom: 10px;
}
.alt-img-text div p {
  grid-area: text;
  align-self: start;
  font-size: var(--sub-font-size);
  margin-top: 0;
}

.alt-colors div:nth-child(4n+0) {
  background: linear-gradient(to right, #16ce60, #0f8940);
}
.alt-colors div:nth-child(4n+1) {
  background: linear-gradient(to left, #10d2f6, #0798b3);
}
.alt-colors div:nth-child(4n+2) {
  background: linear-gradient(to right, #ce6016, #89400f);
}
.alt-colors div:nth-child(4n+3) {
  background: linear-gradient(to left, #ce1629, #890f1b);
}

#portfolio-title {
  background-color: #ce6016;
}
#portfolio-title:before, #portfolio-title:after {
  border-bottom: 10px solid #89400f;
}

#prods-services-title {
  background-color: #ce1629;
}
#prods-services-title:before, #prods-services-title:after {
  border-bottom: 10px solid #890f1b;
}

#machines-title {
  background-color: #6016ce;
}
#machines-title:before, #machines-title:after {
  border-bottom: 10px solid #400f89;
}

#contact-title {
  background-color: #1685ce;
}
#contact-title:before, #contact-title:after {
  border-bottom: 10px solid #0f5889;
}
#contact-title:after {
  margin-left: 25px;
}

.section {
  width: 100vw;
}
.section-25vh {
  min-height: 25vh;
}
.section-50vh {
  min-height: 50vh;
}
.section-75vh {
  min-height: 75vh;
}
.section-100vh {
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
