@import url("https://use.fontawesome.com/releases/v5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Marck+Script|Ubuntu&display=swap");
@keyframes slidein-right {
  from {
    opacity: 0;
    transform: translateX(150%);
  }
  to {
    opacity: 100;
    transform: translateX(0);
  }
}
@keyframes slidein-left-2 {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slidein-right-2 {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes page-title-left-line {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 20px;
  }
}
@keyframes page-title-right-line {
  from {
    margin-right: 0px;
  }
  to {
    margin-right: 20px;
  }
}
@font-face {
  font-family: "art-style-font";
  src: url("Font/PFDinTextCompPro-Regular.ttf");
}
html {
  font-size: 14px;
  font-family: "art-style-font", serif;
}

h1 {
  font-size: 4em;
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.6em;
  line-height: 1.618em;
}

p {
  font-size: 1.6em;
  line-height: 1.618em;
}

body {
  margin: 0;
  overflow-x: hidden;
}

div.under-header {
  height: 50px;
}

.hidden {
  display: none !important;
}

.section {
  width: 100vw;
}
.section-25vh {
  min-height: 25vh;
}
.section-50vh {
  min-height: 50vh;
}
.section-75vh {
  min-height: 75vh;
}
.section-100vh {
  min-height: 100vh;
}

img {
  transition: 0.25s;
  border-radius: 15px;
}
img:hover {
  transform: scale(1.05);
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
header.mobile {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100vw;
  background: #252524;
  color: white;
  text-align: center;
  display: grid;
  margin-bottom: -50px;
}
header.mobile div:nth-child(1) {
  z-index: 100;
  background: #252524;
}
header.mobile ul {
  animation: 0.25s ease-in-out slide-down;
  z-index: 90;
  display: none;
  margin: 0;
  transform: translateY(-100%);
  text-align: center;
  white-space: nowrap;
}
header.mobile i {
  transition: 0.25s;
  color: #73736e;
}
header.mobile h1, header.mobile h2, header.mobile h3 {
  font-family: "Ubuntu", serif;
  padding: 10px;
  display: block;
  margin: 0;
  white-space: nowrap;
}
header.mobile h1 #art, header.mobile h2 #art, header.mobile h3 #art {
  color: #bee826;
}
header.mobile h1 #style, header.mobile h2 #style, header.mobile h3 #style {
  color: #10d2f6;
}
header.mobile h1 i, header.mobile h2 i, header.mobile h3 i {
  margin-left: 20px;
  color: white;
  transform: rotateZ(0);
}

header.mobile.shown {
  grid-template-rows: auto;
}
header.mobile.shown h1 i, header.mobile.shown h2 i, header.mobile.shown h3 i {
  transform: rotateZ(-180deg);
}
header.mobile.shown ul {
  animation: 0.25s ease-in-out slide-down;
  display: grid;
  background: #0b0b0b;
  transform: translateY(0%);
  padding: 0;
  margin: 0;
}
header.mobile.shown ul li {
  z-index: 90;
  list-style-type: none;
}
header.mobile.shown ul li:nth-of-type(even) a {
  background-color: #0b0b0b;
}
header.mobile.shown ul li a {
  z-index: 90;
  display: block;
  background-color: #181817;
  padding: 10px 0;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

header.desktop {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  position: sticky;
  top: 0px;
  z-index: 100;
  height: 75px;
  background: #252524;
  color: white;
  text-align: center;
  margin-bottom: -50px;
}
header.desktop ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotateX(90deg);
  min-width: 760px;
  text-align: center;
  transition: 0.25s;
  white-space: nowrap;
}
header.desktop ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 5px;
}
header.desktop ul li a {
  font-size: 1.7em;
  transition: 0.05s;
  padding: 10px;
  border-bottom: 0px solid gray;
  text-decoration: none;
  color: white;
}
header.desktop ul li a:hover {
  border-bottom: 3px solid gray;
}
header.desktop i {
  color: #73736e;
}
header.desktop h1, header.desktop h2, header.desktop h3 {
  font-family: "Ubuntu", serif;
  padding: 10px;
  display: block;
  transition: 0.25s;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
header.desktop h1 i, header.desktop h2 i, header.desktop h3 i {
  display: none;
}
header.desktop h1 #art, header.desktop h2 #art, header.desktop h3 #art {
  color: #bee826;
}
header.desktop h1 #style, header.desktop h2 #style, header.desktop h3 #style {
  color: #10d2f6;
}
header.desktop:hover {
  text-align: left;
}
header.desktop:hover h1, header.desktop:hover h2, header.desktop:hover h3 {
  transform: translate(-50%, -60%) rotateX(90deg);
}
header.desktop:hover ul {
  transition: 0.5s;
  transform: translate(-50%, -50%) rotateX(0);
}

footer {
  font-family: monospace;
  display: grid;
  padding: 30px 0;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 100vw;
  background: #323230;
  color: white;
  text-align: center;
}
footer * {
  justify-self: center;
  align-self: center;
}
footer h1, footer h2, footer h3 {
  margin: 0;
  padding: 0 30px;
  border-bottom: 2px solid gray;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer li {
  text-align: left;
  margin: 10px 0;
}
footer a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
footer div:nth-child(3) a i {
  margin: 10px 0;
  border-radius: 50%;
  transition: 0.25s;
}
footer div:nth-child(3) a i:hover {
  color: #06748aff;
}
footer p {
  font-size: 1.2em;
}
@media screen and (max-width: 800px) {
  footer {
    grid-template-columns: 100vw;
    margin: 0 auto;
    grid-template-rows: auto;
    grid-row-gap: 30px;
  }
  footer ul {
    padding-left: 15px;
  }
  footer div {
    max-width: 80%;
  }
}

.page-title {
  background-color: #11788b;
  font-family: "art-style-font", cursive;
  color: white;
  text-align: center;
  padding: 20px 0;
  text-shadow: 3px 3px 5px black;
  display: flex;
  align-items: center;
  text-align: center;
}
.page-title:before, .page-title:after {
  border-bottom: 10px solid #11788b;
}
.page-title h1 {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  white-space: nowrap;
  margin: 0;
}
.page-title:before, .page-title:after {
  content: "";
  flex: 1;
  border-bottom: 10px solid #0b515d;
  margin: 0 20px;
}
@media screen and (max-width: 480px) {
  .page-title:before, .page-title:after {
    margin: 0 5px;
  }
}
.page-title:before, .page-title:after {
  animation-duration: 1s;
  animation-timing-function: ease;
}
.page-title:before {
  animation-name: page-title-left-line;
}
.page-title:after {
  animation-name: page-title-right-line;
}

.multipage-main {
  min-height: 75vh;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: 0 6vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.multipage-main .button {
  border-radius: 25px;
  display: grid;
  justify-self: center;
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  border: 10px groove #044b59;
  border-bottom: 10px ridge #044b59;
  border-right: 10px ridge #044b59;
  width: 80%;
  height: 80%;
  margin: 20px;
  transition: 0.25s;
}
@media screen and (max-width: 1024px) {
  .multipage-main .button {
    width: 35vw;
  }
}
@media screen and (max-width: 480px) {
  .multipage-main .button {
    width: 90vw;
  }
}
.multipage-main .button:hover {
  cursor: pointer;
  background-color: #055f72;
}
.multipage-main .button p {
  font-family: "art-style-font", cursive;
  text-shadow: 3px 3px 5px black;
  align-self: center;
  font-size: 4em;
  max-width: 80%;
  justify-self: center;
  line-height: initial;
}
@media screen and (max-width: 1280px) {
  .multipage-main .button p {
    font-size: 2em;
  }
}
.multipage-page {
  position: absolute;
  top: 0px;
  left: 100%;
  width: 100vw;
}
.multipage-page .article p {
  text-align: left;
  width: 88ch;
  margin: 0.75em auto;
  font-size: 2.25em;
}
.multipage-page .return-button {
  cursor: pointer;
  padding: 20px 0;
  margin: 10px 0;
  transition: 0.25s;
}
.multipage-page .return-button i {
  padding: 10px;
  border-radius: 100%;
  transition: 0.25s;
  font-size: 2em;
}
.multipage-page .gallery-3cols, .multipage-page .gallery-5cols {
  display: grid;
  justify-content: center;
}
.multipage-page .gallery-3cols *, .multipage-page .gallery-5cols * {
  align-self: center;
  justify-self: center;
}
.multipage-page .gallery-3cols img, .multipage-page .gallery-5cols img {
  box-shadow: 3px 3px 5px black;
}
.multipage-page#sveteshti-reklami {
  background: #06748aff;
}
.multipage-page#sveteshti-reklami .return-button {
  background: #055f72;
}
.multipage-page#sveteshti-reklami .return-button i {
  background: #044b59;
}
.multipage-page#sveteshti-reklami .return-button:hover {
  background: #044b59;
}
.multipage-page#sveteshti-reklami .return-button:hover i {
  background: #033641;
}
.multipage-page#sveteshti-reklami .gallery-3cols {
  grid-template-areas: "img1 img2 img3" "img4 img5 img3";
}
@media screen and (max-width: 1024px) {
  .multipage-page#sveteshti-reklami .gallery-3cols {
    grid-template-areas: "img1 img3" "img2 img3" "img4 img5";
  }
}
@media screen and (max-width: 480px) {
  .multipage-page#sveteshti-reklami .gallery-3cols {
    grid-template-areas: "img1" "img2" "img3" "img4" "img5";
  }
}
.multipage-page:nth-child(odd) {
  background: #044b59;
}
.multipage-page:nth-child(odd) .return-button {
  background: #033641;
}
.multipage-page:nth-child(odd) .return-button i {
  background: #022228;
}
.multipage-page:nth-child(odd) .return-button:hover {
  background: #022228;
}
.multipage-page:nth-child(odd) .return-button:hover i {
  background: #010d10;
}
.multipage-page:nth-child(even) {
  background: #08adcb;
}
.multipage-page:nth-child(even) .return-button {
  background: #0798b3;
}
.multipage-page:nth-child(even) .return-button i {
  background: #06839a;
}
.multipage-page:nth-child(even) .return-button:hover {
  background: #06839a;
}
.multipage-page:nth-child(even) .return-button:hover i {
  background: #056e82;
}

.gallery, .gallery-5cols, .gallery-3cols {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  max-width: 100%;
}
.gallery *, .gallery-5cols *, .gallery-3cols * {
  align-self: center;
}
.gallery img, .gallery-5cols img, .gallery-3cols img {
  max-width: 100%;
}
.gallery-clickable img:hover {
  cursor: pointer;
}
.gallery-3cols {
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1024px) {
  .gallery-3cols {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .gallery-3cols {
    grid-template-columns: 1fr;
  }
}
.gallery-5cols {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 1024px) {
  .gallery-5cols {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .gallery-5cols {
    grid-template-columns: 1fr;
  }
}

.alt-img-text div {
  display: grid;
  grid-template-areas: "img title" "img text";
  justify-content: center;
  align-content: center;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  text-shadow: 3px 3px 5px black;
  padding: 30px 15vw;
}
.alt-img-text div-no-anims {
  animation: 0s;
}
@media screen and (max-width: 1280px) {
  .alt-img-text div {
    grid-template-areas: "img" "title" "text" !important;
  }
  .alt-img-text div * {
    justify-self: center !important;
    text-align: center !important;
  }
  .alt-img-text div img {
    max-width: 80vw !important;
  }
}
.alt-img-text div:nth-child(even) {
  grid-template-areas: "title img" "text  img";
}
.alt-img-text div:nth-child(even) h1, .alt-img-text div:nth-child(even) p {
  justify-self: end;
  text-align: right;
}
.alt-img-text div:nth-child(even) * {
  animation: slidein-right-2 1.2s;
}
.alt-img-text div * {
  animation: slidein-left-2 1.2s;
}
.alt-img-text div img {
  grid-area: img;
  justify-self: center;
  align-self: center;
  max-width: 45vw;
  height: auto;
  box-shadow: 5px 5px 5px #404040;
}
.alt-img-text div h1, .alt-img-text div p {
  justify-self: start;
}
.alt-img-text div h1 {
  grid-area: title;
  align-self: end;
  margin-bottom: 10px;
}
.alt-img-text div p {
  grid-area: text;
  align-self: start;
  margin-top: 0;
}

.alt-colors {
  color: white;
}
.alt-colors div:nth-child(2n+0) {
  background-image: url("images/bg.png");
  background-size: 100% 100%;
}
.alt-colors div:nth-child(2n+1) {
  background-color: #08adcb;
}

#page-404 {
  background-image: url("images/bg.png");
  background-size: 100% 100%;
  color: white;
  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-shadow: 3px 3px 5px black;
}
#page-404 h1, #page-404 p {
  justify-self: center;
}
#page-404 h1 {
  align-self: end;
}
#page-404 p {
  align-self: start;
}

#intro {
  background-size: 100% 100%;
  background-image: url("images/bg.png");
  position: relative;
}
#intro div {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#intro div img {
  animation: 1s ease slidein-right;
  width: 80vmin;
  height: auto;
  background: #222221;
  padding: 40px;
  border-radius: 35px;
}

#portfolio-demo {
  display: grid;
  background: #055f72;
  padding: 20px 0;
  border-bottom: 20px solid #022228;
  border-top: 20px solid #00a3c3;
  grid-template-areas: ". title gallery ." ". text  gallery ." ". link  gallery .";
  grid-column-gap: 20px;
  color: white;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  #portfolio-demo {
    grid-template-areas: "title" "text" "gallery" "link";
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  #portfolio-demo p {
    max-width: 80vw !important;
  }
}
#portfolio-demo * {
  justify-self: center;
  align-self: center;
}
#portfolio-demo .gallery-3cols, #portfolio-demo gallery-5cols {
  grid-area: gallery;
}
#portfolio-demo h1 {
  grid-area: title;
  margin-bottom: 0;
}
#portfolio-demo p {
  grid-area: text;
  font-size: 2em;
  max-width: 60ch;
}
@media screen and (max-width: 480px) {
  #portfolio-demo p {
    font-size: 1.7em;
  }
}
#portfolio-demo a {
  grid-area: link;
  background: #033641;
  color: white;
  transition: 0.25s;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  padding: 15px 15px;
  margin-bottom: 10px;
  border-radius: 20px;
}
#portfolio-demo a:hover {
  background: #010d10;
}
#portfolio-demo a i {
  border-radius: 100%;
  background: #022228;
  padding: 5px;
}
#portfolio-demo img {
  justify-self: center;
  box-shadow: 3px 3px 5px black;
}

#why-choose-us {
  display: grid;
  background: #0798b3;
  padding-bottom: 50px;
  color: white;
  justify-content: center;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-areas: "title title title" "reason-1 reason-2 reason-3" "reason-4 reason-5 reason-6";
  text-align: center;
}
@media screen and (max-width: 1280px) {
  #why-choose-us {
    grid-template-areas: "title title" "reason-1 reason-3" "reason-2 reason-4" "reason-5 reason-6";
    grid-template-columns: 45vw 45vw;
  }
}
@media screen and (max-width: 1024px) {
  #why-choose-us {
    grid-template-areas: "title" "reason-1";
    grid-template-columns: 80vw;
  }
}
#why-choose-us > h1 {
  grid-area: title;
  justify-self: center;
  align-self: center;
}
#why-choose-us div {
  text-align: initial;
  display: grid;
  justify-content: center;
  grid-template-areas: "icon title" "icon text";
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  background-color: #06839a;
}
#why-choose-us div * {
  padding: 0 20px;
}
#why-choose-us div img {
  width: 100%;
  height: auto;
  grid-area: icon;
  justify-self: center;
  align-self: center;
}
#why-choose-us div h1 {
  grid-area: title;
  justify-self: start;
  align-self: end;
  margin-bottom: 0;
  font-size: 3em;
}
#why-choose-us div p {
  grid-area: text;
  align-self: start;
  font-size: 2em;
}
#why-choose-us div:nth-of-type(even) {
  background-color: #08adcb;
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  #why-choose-us div:nth-of-type(1) {
    background-color: #06839a;
  }
  #why-choose-us div:nth-of-type(2) {
    background-color: #08adcb;
  }
  #why-choose-us div:nth-of-type(3) {
    background-color: #08adcb;
  }
  #why-choose-us div:nth-of-type(4) {
    background-color: #06839a;
  }
  #why-choose-us div:nth-of-type(5) {
    background-color: #06839a;
  }
  #why-choose-us div:nth-of-type(6) {
    background-color: #08adcb;
  }
}
@media screen and (max-width: 1024px) {
  #why-choose-us div {
    padding: 30px 0;
    grid-template-columns: 75vw;
    grid-template-rows: auto;
    grid-template-areas: "icon" "title" "text";
    text-align: center;
  }
  #why-choose-us div img {
    width: 40vw;
    height: auto;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  #why-choose-us div img {
    width: auto;
    height: 40vh;
  }
}
@media screen and (max-width: 1024px) {
  #why-choose-us div h1 {
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center;
  }
}

#our-clients {
  background: #06748aff;
  display: grid;
  color: white;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
  box-shadow: 0px -3px 5px black inset;
}
#our-clients * {
  justify-self: center;
}
#our-clients .gallery-3cols, #our-clients .gallery-5cols {
  width: 80vw;
  grid-row-gap: 60px;
  grid-column-gap: 60px;
}
#our-clients .gallery-3cols div, #our-clients .gallery-5cols div {
  background: #0798b3;
  padding: 30px 30px 0 30px;
  width: 90%;
  height: 95%;
  border-radius: 15px;
  box-shadow: 3px 3px 5px black;
  transition: 0.25s;
}
#our-clients .gallery-3cols div:hover, #our-clients .gallery-5cols div:hover {
  transform: scale(1.05);
}
#our-clients .gallery-3cols div img, #our-clients .gallery-5cols div img {
  box-shadow: 3px 3px 5px black;
  background: white;
  padding: 3px;
  transition: 0.35s;
}

.contact-location {
  background: #044b59;
  text-align: center;
}
.contact-location div {
  display: inline-grid;
  padding: 20px;
  justify-content: center;
  align-content: center;
  grid-template-areas: "sub1 sub2" "exp1 exp2" "map1 map2";
  color: white;
  text-align: center;
  grid-column-gap: 20px;
}
.contact-location div h2 {
  align-self: end;
  margin: 5px 0;
  grid-area: sub1;
}
.contact-location div h2:nth-of-type(2) {
  grid-area: sub2;
}
.contact-location div h3 {
  grid-area: exp1;
}
.contact-location div h3:nth-of-type(even) {
  grid-area: exp2;
}
.contact-location div iframe {
  width: 40vw;
  height: 40vw;
  justify-self: center;
  align-self: center;
  box-shadow: 3px 3px 5px black;
  background: #033641;
}
@media screen and (max-width: 1024px) {
  .contact-location div {
    grid-template-areas: "sub1" "exp1" "map1" "sub2" "exp2" "map2";
  }
  .contact-location div h2:nth-of-type(even) {
    margin-top: 80px;
  }
  .contact-location div iframe {
    width: 80vw;
    height: 80vw;
  }
}

form {
  display: grid;
  background: #0798b3;
  grid-template-columns: 80vw;
  grid-row-gap: 20px;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 30px;
  text-align: center;
  color: white;
}
form h1 {
  margin: 10px 0;
}
form textarea {
  resize: none;
}
form input, form textarea, form button {
  border-radius: 5px;
  padding: 14px;
  font-size: 1.4em;
  font-family: serif;
}
form button {
  font-family: "art-style-font", serif;
  background: #09c2e4;
  font-size: 3em;
  transition: 0.15s;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  border-bottom: 5px solid #06748aff;
  text-decoration: none;
  color: white;
}
form button:hover {
  cursor: pointer;
  background: #08adcb;
}
form button:active {
  border-bottom: 0;
  background-color: #0798b3;
  border-top: 5px solid #06748aff;
}

/*# sourceMappingURL=style.css.map */
