@keyframes slidein-right {
	from { opacity: 0;   transform: translateX(150%); }
	to   { opacity: 100; transform: translateX(0);    }
}

@keyframes slidein-left-2 {
	from { transform: translateX(-200%); }
	to   { transform: translateX(0); }
}

@keyframes slidein-right-2 {
	from { transform: translateX(200%); }
	to { transform: translateX(0); }
}

@keyframes page-title-left-line {
	from { margin-left: 100%; }
	to { margin-left: 20px; }
}

@keyframes page-title-right-line {
	from { margin-right: 0px; }
	to { margin-right: 20px; }
}
