@mixin unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/*
@font-face {
	font-family: "art-style-logo-font";
	src: url("./Font/PFDinTextCompPro-Regular.ttf");
}
*/

header {
	@include unselectable;
	position: sticky;
	top: 0px;
	z-index: 100;
	height: 75px;

	background: darken(#323230, 5%);
	color: white;

	text-align: center; 

	ul {
		margin: 0;
		padding: 0;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 50%) rotateX(90deg);

		min-width: 760px;
		text-align: center;

		transition: 0.25s;

		li {
			display: inline-block;
			list-style-type: none;
			margin: 0 5px;

			a {
				transition: 0.25s;
				padding: 10px;
				border-radius: 10px;

				text-decoration: none;
				color: white;
				&:hover { background: darken(#323230, 10%); }
			}
		}
	}

	i { color: lighten(#323230, 25%); }

	margin-bottom: -50px;

	h1 { 
		//font-family: art-style-logo-font;
		padding: 10px; 
		display: block;
		transition: 0.25s;
		margin: 0;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 135px;

		#art { color: #bee826; }
		#style { color: #10d2f6; }
	}

	&:hover {
		text-align: left;
		h1 { 
			transform: translate(-50%, -60%) rotateX(90deg);
		}
		ul {
			transition: 0.50s;
			transform: translate(-50%, -50%) rotateX(0);
		}
	}
}
