@use "animations";
@use "header";

@import url("https://use.fontawesome.com/releases/v5.11.2/css/all.css");
 @import url('https://fonts.googleapis.com/css?family=Marck+Script|Ubuntu&display=swap');
html { font-family: 'Ubuntu', serif; }

$phone: 480px;
$bg-1: #323230;

$bg-2: #16ce60;
$bg-3: #10d2f6;

$bg-4: #ce6016;
$bg-5: #ce1629;
$bg-6: #6016ce;
$bg-7: #1685ce;

:root {
	--big-font-size: 35pt;
	--sub-font-size: 22pt;

	@media screen and (max-width: 800px)
	{
		--big-font-size: 27pt;
		--sub-font-size: 20pt;
	}

	@media screen and (max-width: 600px) {
		--big-font-size: 25pt;
		--sub-font-size: 16pt;
	}

	@media screen and (max-width: 480px) {
		--big-font-size: 22pt;
		--sub-font-size: 14pt;
	}
}

@mixin unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

@mixin on-phone() {
	@media screen and (max-width: $phone) {
		@content;
	}
}

@mixin centered-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body {
	margin: 0;
	overflow-x: hidden;
}

#intro {
	background: $bg-1;
	position: relative;
	color: white;

	div {
		text-align: center;
		@include centered-absolute;
		img {
			animation: 1s ease-out 0s 1 slidein-right;

			width: 80vw;
			height: auto; 

			@media screen and (orientation: landscape) { 
				width: auto;
				height: 60vh; 
			}
		}
		p {
			animation: 1.15s ease-out 0s 1 slidein-right;
			font-size: var(--sub-font-size);
			@include on-phone() {
				font-size: 15pt;
			}
		}
	}
}


#portfolio {
	display: grid;
	background: darken($bg-2, 5%);
	border-bottom: 20px solid darken($bg-2, 20%);
	border-top: 20px solid saturate(lighten($bg-2, 10%), 10%);

	padding: 25px 0;

	grid-template-areas:
	"title img-1 img-4 img-7"
	"text  img-2 img-5 img-8"
	"link  img-3 img-6 img-9";

	grid-template-columns: 2fr 1fr 1fr 1fr;
	grid-row-gap: 10px;

	color: white;

	@media screen and (max-width: 1024px) {
		grid-template-areas:
		"title"
		"text "
		"img-1"
		"img-2"
		"img-3"
		"img-4"
		"img-5"
		"img-6"
		"img-7"
		"img-8"
		"img-9"
		"link";
		grid-template-columns: 1fr;
	}

	* {
		justify-self: center; align-self: center; 
		max-width: 80vw;
	}
	text-align: center;


	h1 { 
		grid-area: title;
		margin-bottom: 0;
		font-size: var(--big-font-size);
	}

	p { 
		grid-area: text; 
		font-size: var(--sub-font-size);
	}

	a {
		grid-area: link;

		background: darken($bg-2, 15%);
		color: white;
		transition: 0.25s;

		font-size: var(--sub-font-size);
		text-align: center;
		text-decoration: none;

		padding: 15px 15px;
		margin-bottom: 10px;
		border-radius: 20px;

		&:hover { background: darken($bg-2, 25%); }

		i {
			border-radius: 100%;
			background: darken($bg-2, 20%);
			padding: 5px;
		}
	}
	img {
		justify-self: center;

		@media screen and (max-width: 1024px) {
			width: 75vw;
			height: calc(75vw * ( 9 / 16 ));
		}

		width: calc(50vw / 3);
		height: calc((50vw / 3) * ( 9 / 16 ));
	}

	@for $i from 1 through 9 {
		#pf-img-#{$i} {
			grid-area: img-#{$i};
		}
	}
}

#why-choose-us {
	display: grid;
	background: darken($bg-3, 15%);
	padding-bottom: 50px;
	color: white;
	grid-template-areas:
	"title title title"
	"reason-1 reason-2 reason-3"
	"reason-4 reason-5 reason-6";
	text-align: center;

	grid-row-gap: 10px;

	@media screen and (max-width: 1024px) {
		grid-template-areas:
		"title"
		"reason-1";
	}

	&>h1 {
		grid-area: title;
		justify-self: center;
		align-self: center;
		font-size: var(--big-font-size);
	}

	div {
		text-align: initial;
		display: grid;
		justify-content: center;
		grid-template-areas:
		"icon title"
		"icon text";

		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 2fr;

		* { padding: 0 20px; }

		img { 
			width: 100%;
			height: auto;
			grid-area: icon; 
			justify-self: center;
			align-self: center;
		}
		h1 { 
			grid-area: title; 
			justify-self: start;
			align-self: end;
			margin-bottom: 0;
		}
		p { 
			grid-area: text; 
			align-self: start;
		}
		padding: 10px;

		background-color: darken($bg-3, 20%);
		&:nth-child(even) {
			background-color: darken($bg-3, 5%);
		}

		@media screen and (max-width: 1024px) {
			padding: 30px 0;
			grid-template-columns: 75vw;
			grid-template-rows: auto;

			grid-template-areas:
			"icon"
			"title"
			"text";

			text-align: center;

			img {
				width: 40vw;
				height: auto; 

				@media screen and (orientation: landscape) { 
					width: auto;
					height: 40vh; 
				}
			}

			h1 { 
				margin: 0;
				padding: 0; 
				justify-self: center;
				align-self: center;
			}
		}
	}
}

.collapsable.section {
	text-align: center;
	font-size: var(--big-font-size);
	@media screen and (max-width: 800px)
	{
		font-size: calc(var(--big-font-size) - 6pt);
	}
	background-color: darken($bg-1, 2.5%);

	color: white;

	i { color: lighten(#323230, 25%); }

	&:nth-child(1) { p { margin-top: 75px; } }

	.section {
		background-color: darken($bg-1, 2.5%);
		transition: 0.25s;

		&:hover {
			cursor: pointer;
			background-color: lighten($bg-1,15%);
		}

		p {
			margin: 0;
		}
	}
}

div.under-header { height: 50px; }

footer {
	font-family: monospace;
	display: grid;
	padding: 30px 0;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;

	* { justify-self: center; align-self: center; }
	h1 { margin: 0; }
	ul { list-style: none; padding-left: 0; }
	li { text-align: left; margin: 10px 0; }
	a { text-decoration: none; font-weight: bold; color: inherit; }

	@media screen and (max-width: 800px) {
		grid-template-columns: 75vw;
		margin: 0 auto;
		grid-template-rows: 190px 190px 70px;
		ul { padding-left: 15px; }
	}
	width: 100vw;
	background: $bg-1;
	color: white;
	text-align: center;
}

.hidden {
	transition: 0.25s;
	height: 0 !important;
	min-height: 0 !important;
	max-height: 0 !important;
}

.gallery-3cols {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}


@keyframes anim {
	from { margin-left: 100%; }
	to { margin-left: 20px; }
}
@keyframes anim-2 {
	from { margin-right: 0px; }
	to { margin-right: 20px; }
}

.page-title {
    font-family: 'Marck Script', cursive;
	font-size: var(--sub-font-size);
	color: white;
	text-align: center;
	padding: 20px 0;
	h1 { 
		@include unselectable;
		white-space: nowrap; 
		margin: 0; 
	}

	display: flex;
	align-items: center;
	text-align: center;

	&:before, &:after { 
		content: "";
		flex: 1;
		border-bottom: 10px solid #000;
		margin: 0 20px;
	}

	&:before { animation: 1s ease anim; }
	&:after { animation: 1s ease anim-2; }
}

@mixin title-setup($color) {
	background-color: $color;
	&:before, &:after { 
		border-bottom: 10px solid darken($color, 15%);
	}
}

#portfolio-title { 
	@include title-setup($bg-4); 
}
#prods-services-title { 
	@include title-setup($bg-5); 
}
#machines-title { 
	@include title-setup($bg-6); 
}
#contact-title {
	@include title-setup($bg-7);
	&:after { margin-left: 25px; }
}

.section {
	width: 100vw;
	&-25vh { min-height: 25vh; }
	&-50vh { min-height: 50vh; }
	&-75vh { min-height: 75vh; }
	&-100vh { min-height: 100vh; }
}
