@use "animations";
@use "header";

@import url("https://use.fontawesome.com/releases/v5.11.2/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Marck+Script|Ubuntu&display=swap');

@font-face {
	font-family: "art-style-font";
	src: url("Font/PFDinTextCompPro-Regular.ttf");
}
html { font-size: 14px; font-family: 'art-style-font', serif; }

$phone: 480px;
$bg-1: #323230;

$bg-2: #16ce60;
$bg-3: #10d2f6;

$bg-4: #ce6016;
$bg-5: #ce1629;
$bg-6: #6016ce;
$bg-7: #1685ce;

@mixin title-setup($color) {
	background-color: $color;
	&:before, &:after { 
		border-bottom: 10px solid $color;
	}
}

h1{
	font-size: 4em;
	@media screen and (max-width: 800px) {
		font-size: 3em;
	}
}

h2{
	font-size: 2.5em;
}

h3{
	font-size: 1.6em;
	line-height: 1.618em;
}

p{
	font-size: 1.6em;
	line-height: 1.618em;
}

@mixin unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

@mixin on-phone() {
	@media screen and (max-width: $phone) {
		@content;
	}
}

@mixin centered-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body {
	margin: 0;
	overflow-x: hidden;
}

#intro {
	background: $bg-1;
	position: relative;
	color: white;

	div {
		text-align: center;
		@include centered-absolute;
		img {
			animation: 1s ease-out 0s 1 slidein-right;
			width: 80vmin;
			height: auto; 
		}
		p {
			animation: 1.15s ease-out 0s 1 slidein-right;
			//font-size: var(--sub-font-size);
		}
	}
}


#portfolio-demo {
	display: grid;
	background: darken($bg-2, 5%);
	border-bottom: 20px solid darken($bg-2, 20%);
	border-top: 20px solid saturate(lighten($bg-2, 10%), 10%);

	grid-template-areas:
	". title gallery ."
	". text  gallery ."
	". link  gallery .";
	grid-column-gap: 20px;

	color: white;

	@media screen and (max-width: 1024px) {
		grid-template-areas:
		"title"
		"text"
		"gallery"
		"link";
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
		p { max-width: 80vw !important; }
	}

	* { justify-self: center; align-self: center; }
	text-align: center;

	.gallery-3cols, gallery-5cols { 
		grid-area: gallery; 
	}

	h1 { 
		grid-area: title;
		margin-bottom: 0;
		//font-size: var(--big-font-size);
	}

	p { 
		grid-area: text; 
		font-size: 2em;
		max-width: 60ch;

		@media screen and (max-width: 480px) {
			font-size: 1.7em;
		}
		//font-size: var(--sub-font-size);
	}

	a {
		grid-area: link;

		background: darken($bg-2, 15%);
		color: white;
		transition: 0.25s;

		font-size: 2em;
		//font-size: var(--sub-font-size);
		text-align: center;
		text-decoration: none;

		padding: 15px 15px;
		margin-bottom: 10px;
		border-radius: 20px;

		&:hover { background: darken($bg-2, 25%); }

		i {
			border-radius: 100%;
			background: darken($bg-2, 20%);
			padding: 5px;
		}
	}
	img { justify-self: center; }
}

#why-choose-us {
	display: grid;
	background: darken($bg-3, 15%);
	padding-bottom: 50px;
	color: white;
	justify-content: center;
	grid-template-columns: 30vw 30vw 30vw;
	grid-template-areas:
	"title title title"
	"reason-1 reason-2 reason-3"
	"reason-4 reason-5 reason-6";
	text-align: center;

	@media screen and (max-width: 1024px) {
		grid-template-areas:
		"title"
		"reason-1";
		grid-template-columns: 80vw;
	}

	&>h1 {
		grid-area: title;
		justify-self: center;
		align-self: center;
		//font-size: var(--big-font-size);
	}

	div {
		text-align: initial;
		display: grid;
		justify-content: center;
		grid-template-areas:
		"icon title"
		"icon text";
		grid-template-columns: 1fr 2fr;

		* { padding: 0 20px; }

		img { 
			width: 100%;
			height: auto;
			grid-area: icon; 
			justify-self: center;
			align-self: center;
		}
		h1 { 
			grid-area: title; 
			justify-self: start;
			align-self: end;
			margin-bottom: 0;
			font-size: 3em;
		}
		p { 
			grid-area: text; 
			align-self: start;
			font-size: 2em;
		}
		padding: 10px;

		background-color: darken($bg-3, 20%);
		&:nth-child(even) {
			background-color: darken($bg-3, 10%);
		}

		@media screen and (max-width: 1024px) {
			padding: 30px 0;
			grid-template-columns: 75vw;
			grid-template-rows: auto;

			grid-template-areas:
			"icon"
			"title"
			"text";

			text-align: center;

			img {
				width: 40vw;
				height: auto; 

				@media screen and (orientation: landscape) { 
					width: auto;
					height: 40vh; 
				}
			}

			h1 { 
				margin: 0;
				padding: 0; 
				justify-self: center;
				align-self: center;
			}
		}
	}
}

.collapsable.section {
	text-align: center;
	background-color: darken($bg-1, 2.5%);

	color: white;

	i { color: lighten(#323230, 25%); }

	&:nth-child(1) { p { margin-top: 75px; } }

	.section {
		background-color: darken($bg-1, 2.5%);
		transition: 0.25s;

		&:hover {
			cursor: pointer;
			background-color: lighten($bg-1,15%);
		}

		p { margin: 0; }
	}
}

div.under-header { height: 50px; }

footer {
	font-family: monospace;
	display: grid;
	padding: 30px 0;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;

	* { justify-self: center; align-self: center; }
	h1, h2, h3 { margin: 0; padding: 0 30px; border-bottom: 2px solid gray; }
	ul { list-style: none; padding-left: 0; }
	li { text-align: left; margin: 10px 0; }
	a { 
		text-decoration: none;
		font-weight: bold;
		color: inherit; 
	}

	div:nth-child(3) a i {
		margin: 10px 0;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		transition: 0.25s;

		&:hover {
			color: $bg-2;
		}
	}

	p { font-size: 1.2em; }

	@media screen and (max-width: 800px) {
		grid-template-columns: 100vw;
		margin: 0 auto;
		grid-template-rows: auto;
		grid-row-gap: 30px;
		ul { padding-left: 15px; }
		div { max-width: 80%; }
	}
	width: 100vw;
	background: $bg-1;
	color: white;
	text-align: center;
}

@keyframes dissapear-left {
	from { width: initial; }
	to { width: 0; }
}

.menu {
	min-height: 75vh;
	justify-content: center;
	align-content: center;
	text-align: center;
	color: white;
	background: darken($bg-1, 10%);
	position: relative;
	padding: 0 6vw;

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	.button {
		border-radius: 25px;
		display: grid;
		justify-self: center;
		align-self: center;

		$bg-color: darken($bg-2, 10%); 
		background: $bg-color;

		border:        10px groove $bg-color;
		border-bottom: 10px ridge  $bg-color;
		border-right:  10px ridge  $bg-color;

		width: 80%;
		height: 80%;

		margin: 20px;

		transition: 0.25s;

		@media screen and (max-width: 1024px) { width: 35vw; }
		@media screen and (max-width: 480px) { width: 90vw; }

		&:hover {
			cursor: pointer;
			background: lighten($bg-color, 5%);
		}

		p {
			font-family: 'art-style-font', cursive;
			align-self: center;
			font-size: 4em;
			max-width: 80%;
			justify-self: center;
			line-height: initial;

			@media screen and (max-width: 1280px) {
				font-size: 2em;
			}
		}
	}
}

@mixin setup-return-button($bg-color) {
	.return-button {
		background: darken($bg-color, 5%);

		i { background: darken($bg-color, 10%); }

		&:hover {
			background: darken($bg-color, 10%);
			i { background: darken($bg-color, 15%); }
		}
	}
}

.portfolio-page {
	position: absolute;
	top: 0px;
	left: 100%;
	width: 100vw;

	img { border-radius: 15px; }

	.return-button {
		cursor: pointer;
		padding: 20px 0;
		margin: 10px 0;
		i { 
			padding: 10px;
			border-radius: 100%;
			transition: 0.25s; 
			font-size: 2em;
		}
		transition: 0.25s;
	}

	.gallery-3cols, .gallery-5cols { 
		display: grid; 
		justify-content: center; 

		* {
			align-self: center; 
			justify-self: center; 
		}

		img {
			box-shadow: 3px 3px 5px black;
		}
	}

	&#sveteshti-reklami {
		background: $bg-2; 
		@include setup-return-button($bg-2);

		.gallery-3cols {
			grid-template-areas:
			"img1 img2 img3"
			"img4 img5 img3";

			@media screen and (max-width: 1024px) {
				grid-template-areas:
				"img1 img3"
				"img2 img3"
				"img4 img5";
			}
			@media screen and (max-width: 480px) {
				grid-template-areas:
				"img1"
				"img2"
				"img3"
				"img4"
				"img5";
			}
		}
	}
	&:nth-child(odd) { 
		background: darken($bg-2, 10%);
		@include setup-return-button(darken($bg-2, 10%));
	}
	&:nth-child(even) { 
		background: darken($bg-3, 10%);
		@include setup-return-button(darken($bg-3, 10%));
	}

}

.gallery-clickable {
	img { 
		transition: 0.25s;
		transform: scale(1); 
	}
	img:hover {
		transition: 0.25s;
		transform: scale(1.05);
	}
}

.gallery-3cols {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	img { max-width: 100%; }

	@media screen and (max-width: 1024px) {
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (max-width: 480px) {
		grid-template-columns: 1fr;
	}
}

.gallery-5cols {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	* { align-self: center; }
	img { max-width: 100%; }

	@media screen and (max-width: 1024px) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@media screen and (max-width: 480px) {
		grid-template-columns: 1fr;
	}
}

.hidden { display: none !important; }

@keyframes anim {
	from { margin-left: 100%; }
	to { margin-left: 20px; }
}
@keyframes anim-2 {
	from { margin-right: 0px; }
	to { margin-right: 20px; }
}

.page-title {
	$bg-color: darken(#19b3cf, 15%);
	background-color: $bg-color;
	&:before, &:after { 
		border-bottom: 10px solid $bg-color;
	}

	font-family: 'art-style-font', cursive;
	color: white;
	text-align: center;
	padding: 20px 0;
	h1 { 
		@include unselectable;
		white-space: nowrap; 
		margin: 0; 
	}

	display: flex;
	align-items: center;
	text-align: center;

	&:before, &:after { 
		content: "";
		flex: 1;
		border-bottom: 10px solid darken($bg-color, 10%);
		margin: 0 20px;
		@media screen and (max-width: 480px) {
			margin: 0 5px;
		}
	}

	&:before { animation: 1s ease anim; }
	&:after { animation: 1s ease anim-2; }
}


@keyframes slidein-left-2 {
	from { transform: translateX(-200%); }
	to { transform: translateX(0); }
}
@keyframes slidein-right-2 {
	from { transform: translateX(200%); }
	to { transform: translateX(0); }
}

.alt-img-text {
	.return-button { display: block; }
	div {
		display: grid;
		grid-template-areas: 
		"img title"
		"img text";

		justify-content: center;
		align-content: center;
		grid-column-gap: 50px;
		grid-row-gap: 20px;

		padding: 30px 15vw;

		&-no-anims { animation: 0s; }

		@media screen and (max-width: 1280px) {
			grid-template-areas:
			"img"
			"title"
			"text" !important;
			* { justify-self: center !important; text-align: center !important; }
			img { max-width: 80vw !important; }
		}

		&:nth-child(even) {
			grid-template-areas: 
			"title img"
			"text  img";

			h1, p { justify-self: end; text-align: right; }

			* { animation: slidein-right-2 1.2s; }
		}

		* { animation: slidein-left-2 1.2s; }

		img {
			grid-area: img; 
			justify-self: center;
			align-self: center;
			max-width: 45vw;
			height: auto;
			box-shadow: 5px 5px 5px lighten(black, 25%);
		}

		h1, p { justify-self: start; }

		h1 { 
			grid-area: title;
			align-self: end;
			//font-size: var(--big-font-size);
			margin-bottom: 10px;
		}
		p {
			grid-area: text;
			align-self: start;
			//font-size: var(--sub-2-font-size);
			margin-top: 0;
		}
	}
}

.alt-colors {
	color: white;
	div:nth-child(2n + 0) { background-color: darken($bg-2, 10%); }
	div:nth-child(2n + 1) { background-color: darken($bg-3, 10%); }
}

.contact-location {
	background: darken($bg-2, 10%);
	text-align: center;


	div {
		display: inline-grid;
		padding: 20px;
		justify-content: center;
		align-content: center;

		grid-template-areas:
		"sub1 sub2"
		"exp1 exp2"
		"map1 map2"
		;


		color: white;
		text-align: center;
		grid-column-gap: 20px;

		h2 {
			align-self: end;
			margin: 5px 0;
			grid-area: sub1;
			&:nth-of-type(2) { grid-area: sub2; }
		}


		h3 {
			grid-area: exp1;
			&:nth-of-type(even) { grid-area: exp2; }
		}

		iframe {
			width: 40vw;
			height: 40vw;
			justify-self: center;
			align-self: center;
			box-shadow: 3px 3px 5px black;
			background: darken($bg-2, 15%); 
		}

		@media screen and (max-width: 1024px) {
			grid-template-areas:
			"sub1"
			"exp1"
			"map1"
			"sub2"
			"exp2"
			"map2";
			h2:nth-of-type(even) { margin-top: 80px; }

			iframe {
				width: 80vw;
				height: 80vw;
			}
		}
	}
}

form {
	display: grid;
	background: darken($bg-3, 15%);
	grid-template-columns: 80vw;
	grid-row-gap: 20px;
	justify-content: center;
	align-content: center;
	margin: 0;
	padding: 30px;
	text-align: center;
	color: white;

	h1 { margin: 10px 0; }
	textarea { resize: none; }

	input, textarea, button { 
		border-radius: 5px;
		padding: 14px;
		font-size: 1.4em;
		font-family: serif; 
	}

	button {
		font-family: 'art-style-font', serif;
		background: darken($bg-3, 5%);
		font-size: 3em;
		transition: 0.15s;
		padding: 10px;
		border-radius: 10px;
		border-bottom: 2px solid gray;

		text-decoration: none;
		color: white;
		&:hover { 
			cursor: pointer;
			background: darken($bg-3, 10%); 
		}

		&:active {
			border-bottom: 0px solid gray;
			border-top: 3px solid gray;
		}
	}
}

.section {
	width: 100vw;
	&-25vh { min-height: 25vh; }
	&-50vh { min-height: 50vh; }
	&-75vh { min-height: 75vh; }
	&-100vh { min-height: 100vh; }
}
