.alt-img-text {
	div {
		display: grid;
		grid-template-areas: 
		"img title"
		"img text";

		justify-content: center;
		align-content: center;
		grid-column-gap: 50px;
		grid-row-gap: 20px;
		text-shadow: 3px 3px 5px black;

		padding: 30px 15vw;

		&-no-anims { animation: 0s; }

		@media screen and (max-width: 1280px) {
			grid-template-areas:
			"img"
			"title"
			"text" !important;
			* { justify-self: center !important; text-align: center !important; }
			img { max-width: 80vw !important; }
		}

		&:nth-child(even) {
			grid-template-areas: 
			"title img"
			"text  img";

			h1, p { justify-self: end; text-align: right; }

			* { animation: slidein-right-2 1.2s; }
		}

		* { animation: slidein-left-2 1.2s; }

		img {
			grid-area: img; 
			justify-self: center;
			align-self: center;
			max-width: 45vw;
			height: auto;
			box-shadow: 5px 5px 5px lighten(black, 25%);
		}

		h1, p { justify-self: start; }

		h1 { 
			grid-area: title;
			align-self: end;
			margin-bottom: 10px;
		}
		p {
			grid-area: text;
			align-self: start;
			margin-top: 0;
		}
	}
}

.alt-colors {
	color: white;
	div:nth-child(2n + 0) { 
		background-image: url("images/bg.png"); 
		background-size: 100% 100%;
	}
	div:nth-child(2n + 1) { background-color: darken($bg-3, 10%); }
}
