.gallery
{
	display: grid;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	max-width: 100%;
	* { align-self: center; }
	img { max-width: 100%; }

	&-clickable img:hover {
		cursor: pointer;
	}

	&-3cols {
		@extend .gallery;

		grid-template-columns: 1fr 1fr 1fr;

		@media screen and (max-width: 1024px) {
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (max-width: 480px) {
			grid-template-columns: 1fr;
		}
	}

	&-5cols {
		@extend .gallery;

		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

		@media screen and (max-width: 1024px) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@media screen and (max-width: 480px) {
			grid-template-columns: 1fr;
		}
	}
}
