$bg-1: #323230;
$bg-2: #06748aff;
$bg-3: #10d2f6;

@mixin title-setup($color) {
	background-color: $color;
	&:before, &:after { 
		border-bottom: 10px solid $color;
	}
}

@mixin unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

@mixin on-phone() {
	@media screen and (max-width: $phone) {
		@content;
	}
}

@mixin centered-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
