<footer>
	<div>
		<h3>Бързи линкове</h3>
		<ul>
			<li><a href="index.html"><i class="fas fa-home"></i> Начална страница</a></li>
			<li><a href="portfolio.html"><i class="fas fa-scroll"></i> Портфолио</a></li>
			<li><a href="products-and-services.html"><i class="fas fa-boxes"></i> Продукти и услуги</a></li>
			<li><a href="machines.html"><i class="fas fa-hammer"></i> Машини</a></li>
			<li><a href="contact.html"><i class="fas fa-phone"></i> Контакт</a></li>
		</ul>
	</div>

	<div>
		<h3>Свържете се с нас</h3>
		<ul class="fa-ul">
			<li>
				<i class="fa-li fas fa-phone"></i>
				<a href="tel:052/657-557"> 
					052/657-557
				</a>
			</li>
			<li>
				<i class="fa-li fas fa-phone"></i> 
				<a href="tel:0878-992-012"> 
					0878-992-012
				</a> 
			</li>
		</ul>

		<ul class="fa-ul">
			<li>
				<i class="fa-li fas fa-envelope"></i>
				<a href="mailto:marketing@artstylebg.com">
					marketing@artstylebg.com
				</a> 
			</li>
			<li>
				<i class="fa-li fas fa-envelope"></i>
				<a href="mailto:office@artstylebg.com">
					office@artstylebg.com
				</a> 
			</li>
		</ul>
	</div>

	<div>
		<h3>Социални медии</h3>
		<h1>
			<a href="https://www.facebook.com/artstylebg"> <i class="fab fa-facebook"></i></a>
			<a href="#"> <i class="fab fa-twitter"></i></a>
			<a href="#"> <i class="fab fa-instagram"></i></a>
		</h1>

		<h2><i class="far fa-copyright"></i> 2019</h2>
	</div>
</footer>
