<header>
	<div>
		<h2><span id="art">art</span> <span id="style">style</span></h2>
	</div>
	<ul>
		<li><a href="index.html">                <i class="fas fa-home"></i>   Начало            </a></li>
		<li><a href="portfolio.html">            <i class="fas fa-scroll"></i> Портфолио         </a></li>
		<li><a href="products-and-services.html"><i class="fas fa-boxes"></i>  Продукти и услуги </a></li>
		<li><a href="machines.html">             <i class="fas fa-hammer"></i> Машини            </a></li>
		<li><a href="contact.html">              <i class="fas fa-phone"></i>  Контакт           </a></li>
	</ul>

</header>
